const mysql = require("mysql");
const info = {
    host: "",
    port: "",
    user: "",
    password: "",
    database: ""
};

module.exports = {
    init: () => {
        return mysql.createConnection(info);
    },
    connect: (conn) => {
        conn.connect(error => {
            if (error) console.log(error);
            else console.log("MySQL connect successfully!");
        });
    }
};